.emailFiled {
    width: 300px;
    height: 40px;
    display: block;
    border-radius: 4px;
    margin-bottom: 10px;
}

.submitBtn {
    width: 300px;
    background: orange;
    height: 50px;
    border: 0;
}